matplotlib
numpy<2.2.0
pandas
scipy
markdown
pip
plotly
shap
importlib-metadata
importlib_resources
pickleshare
scikit-learn
xgboost
numba>=0.57
streamlit-plotly-events
geojson
# Don't give a version for streamlit 
# to ensure the app has the latest security updates. 
streamlit==1.29.0  # temporary - for plotly events to work
