matplotlib
numpy<2.2.0
pandas
scipy
markdown
pip
plotly
shap
importlib-metadata
importlib_resources
pickleshare
scikit-learn
xgboost
numba>=0.57
geojson
# Don't give a version for streamlit 
# to ensure the app has the latest security updates. 
streamlit
stroke-lifetime
